


a {
color: white;
}

.box1 {
	Width: 100%;
	background-color: #c0c0c0;
	height: 300px;
	
	
}

.box2 {
	width: 45%;
	height: 300px;
	border: solid 10px black;
	float: left;
	
	
}


.box3 {
	width: 45%;
	height: 300px;
	border: solid 10px blue;
	float: left;
	
}